// @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #151515;
  --color-1: #6bb1fc;
  --gradient: linear-gradient(180deg, #6bb1fc 0%, #419dff 100%);
  --header-height: 56px;
  --container-padding: 24px;
  --spacer: 0.8;
  --border-radius-sm: 6px;
  --border-radius: 10px;
  --border-radius-md: 15px;
  --border-radius-lg: 20px;
  --border-radius-xl: 25px;
  --border-radius-2xl: 28px;
  --border-radius-3xl: 32px;
  --border-radius-full: 9999px;
}

@media screen and (min-width: 640px) {
  :root {
    --container-padding: 32px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --container-padding: 20px;
    --header-height: 66px;
    --spacer: 1;
  }
}

@media screen and (min-width: 1150px) {
  :root {
    --container-padding: 20px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --container-padding: 16px;
  }
}

@media screen and (min-width: 1300px) {
  :root {
    --container-padding: 50px;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --container-padding: 240px;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--neutral-200);
}

html {
  scroll-padding-top: calc(var(--header-height) + 32px);

  font-family: Poppins;
  color: var(--black);
}

@media screen and (min-width: 1600px) {
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h1 {
  color: var(--color-1);
}

a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  color: var(--black);
}

a:has(img) {
  line-height: 0;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  padding: 0;
  background: transparent;
}

hr {
  height: 0;
  border-top-width: 1px;
  width: 100%;
  padding: 0;
  margin: 0;
}

@layer components {
  p {
    margin: 0;
    padding: 0;
    @apply text-base;
    @apply font-light;
  }

  blockquote {
    @apply text-xl;
    @apply font-light;
  }

  form {
    @apply gap-5;
  }
}
