.card {
  box-shadow: 8px 3px 22px 10px rgba(150, 150, 150, 0.11);
  border-radius: var(--border-radius-md);
  background-color: var(--white);
}

.line-height-1 {
  line-height: 1;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.text-gradient {
  background: linear-gradient(180deg, #6bb1fc 0%, #419dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
